extends layout

block content

  div(class='content')
    div(class='slogan')
      div Don't waste time
      div Know before you go
      
    br
    div(class='timestamp')
    br

    ul(id='locations-list')

  script(src="/javascripts/update.js")