extends layout

block content

  div(class='content')
    div(class='slogan')
      div Don't waste time
      div Know before you go
      
    br
    div(class='timestamp' style='flex-grow: 0;')
    br

    ul(id='locations-list')
      each item in locations
        li(id=item['location_name'].toLowerCase())
            div(class='icon') <i class=""></i>
            div(class='name')
            div(class='congestion')

  script(src="/javascripts/update.js")